	body {
		font-family: Aptos Narrow, sans-serif;
		font-size: 11px;
	}

	#contenedor-anos, #contenedor-materias {
		display: flex;
		justify-content: space-around;
		margin-top: 10px;
	}

	.columna-ano, .columna-materia {
		width: 100%;
		border: 1px solid #ddd;
		padding: 2px;
		border-radius: 5px;
		text-align: center;
	}

	.columna-ano h2, .columna-materia h2 {
		margin: 1px;
		padding: 5px;
		background-color: #f2f2f2;
		border-radius: 5px;
		cursor: pointer;
	}

	.materias-ano, .grupos-subgrupos {
		margin-top: 1px;
	}

	.materia, .grupo, .subgrupo {
		padding: 5px;
		margin: 5px 0;
		border: 1px solid #ddd;
		border-radius: 3px;
		cursor: pointer;
	}

	.materia:hover, .grupo:hover, .subgrupo:hover {
		background-color: #f2f2f2;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 20px;
	}

	th, td {
		border: 1px solid #ddd;
		padding: 8px;
		text-align: center;
	}

	th {
		background-color: #f2f2f2;
	}button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 5px;
}
#continuar {
    background-color: #4CAF50; /* Verde */
    color: white;
}

#continuar:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#mostrarHorario {
    background-color: #008CBA; /* Azul */
    color: white;
}
#mostrarHorario:hover {
    background-color: #0077A3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}
